<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <h2><a href="/">Our Wonderful App</a></h2>
        <nav>
        <a href="/login">Log In</a>
       </nav>
    </header>
    <main>
        <h3>Hello This is the Log In Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis unde alias perferendis laudantium, itaque in animi aliquid hic minima blanditiis obcaecati nisi provident laborum laboriosam iusto sed recusandae quas fugit?
        Ipsum quas ratione adipisci reprehenderit quos, aut enim praesentium dolor blanditiis rerum mollitia doloribus quod quae necessitatibus voluptate. Veniam debitis, cupiditate animi harum a sed porro voluptas beatae voluptatibus omnis.</p>
    </main>
    <footer>
        <small>&copy; Our Wonderful App</small>
    </footer>
</body>
</html>